<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Our SaaS!</title>
</head>
<body>
    <h1>Welcome, {{user_name}}!</h1>
    <p>We're excited to have you on board with {{app_name}}.</p>
    <p>Here are a few things you can do to get started:</p>
    <ul>
        <li>Complete your profile</li>
        <li>Explore our features</li>
        <li>Connect with other users</li>
    </ul>
    <p>If you have any questions, don't hesitate to reach out to our support team.</p>
    <p>Best regards,<br>The {{app_name}} Team</p>
</body>
</html>